@charset "UTF-8";

/***********************************
            1. BODY
***********************************/

* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

label {
    cursor: pointer;
}

input,
select,
button,
textarea {
    margin: 0;
    font-size: 100%;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@keyframes animStar {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-2000px);
    }
}

button {
    border: none;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background: none;
    cursor: pointer;
}

:focus {
    outline: 0;
}


/* 2.3. Lamp */

.lamp {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center top;
    animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
    animation: move 5.1s infinite;
    z-index: -1;
}

@keyframes move {
    0% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(40deg);
    }
}

.cable {
    width: 8px;
    height: 248px;
    background-image: linear-gradient(rgba(8, 59, 91, 0.7), rgb(91, 34, 16)), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.cover {
    width: 200px;
    height: 80px;
    background: #0b3438;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
    z-index: 200;
}

.in-cover {
    width: 100%;
    max-width: 200px;
    height: 20px;
    border-radius: 100%;
    background: #08ffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -9px;
    z-index: 100;
}

.in-cover .bulb {
    width: 50px;
    height: 50px;
    background-color: #08fffa;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
    box-shadow: 0 0 25px 7px rgb(127 255 255 / 80%), 0 0 64px 47px rgba(0, 255, 255, 0.5), 0px 0 30px 15px rgba(0, 255, 255, 0.2);
}

.light {
    width: 200px;
    height: 0;
    border-bottom: 900px solid rgb(44 255 255 / 24%);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 270px;
    margin: 0 auto;
    z-index: 1;
    border-radius: 90px 90px 0 0;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .light {
        width: 20vw;
        border-bottom: 30vw solid rgba(44, 255, 255, 0.24);
        border-left: 4vw solid transparent;
        border-right: 4vw solid transparent;
        top: 25vh;
    }
}

@media (max-width: 480px) {
    .light {
        width: 25vw;
        border-bottom: 25vw solid rgba(44, 255, 255, 0.24);
        border-left: 3vw solid transparent;
        border-right: 3vw solid transparent;
        top: 30vh;
    }
}